.topbar {
    width: 100%;
    height: 70px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10000;
    border-bottom: 1px solid #dee2e6;
}
.topbar-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}
.logo {
    padding: 0 20px;
    font-weight: bold;
    font-size: 2.2rem;
    color: #fff;
}
.top-left {
    padding: 1.5px;
    width: calc(100vw - 80%);
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #007bff;
}
.top-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    width: calc(100vw - 20%);
    gap: 20px;
}
.topbar-welcome-text {
    padding-left: 20px;
    font-weight: 600;
    font-size: 1.4rem;
}
.topbar-icons-container {
    display: flex;
    gap: 20px;
}
.topbar-icon-container {
    cursor: pointer;
}
.topbar-icon {
    font-size: 2rem !important;
}
