.btn {
    border: none;
    padding: 10px 30px;
    color: #fff;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

.btn-light {
    background-color: #007bff;
}
.btn-dark {
    background-color: #343a40;
}
